.title {
  display: flex;
  justify-content: center;
  text-decoration-style: double;
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 20px;
  margin: 10px 10px 10px 10px;
}

.horizontal {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.button {
  position: relative;
  background-color: #4caf50;
  border: none;
  font-size: 12px;
  color: #ffffff;
  padding: 5px;
  width: 80px;
  text-align: center;
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}

.button:after {
  content: "";
  background: #f1f1f1;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s;
}

.button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s;
}
